<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ifit.mapper.CourseMapper">
    <resultMap id="tab_course" type="com.example.ifit.entity.Course">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
    
    <select id="findAllCourse" resultMap="tab_course">
        select * from course
    </select>

    <select id="findCourseByName" resultMap="tab_course">
        select * from course where name = #{name}
    </select>

    <insert id="insertCourse" useGeneratedKeys="true" keyProperty="id">
        insert into course(name)
        values(#{name})
    </insert>
    
    <delete id="deleteCourse" parameterType="Long">
        delete from course where id = #{id}
    </delete>

</mapper>