<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ifit.mapper.PlanMapper">
    <resultMap id="tab_plan" type="com.example.ifit.entity.Plan">
        <result property="id" column="id"/>
        <result property="videoId" column="videoId"/>
        <result property="userId" column="userId"/>
    </resultMap>

    <select id="listfindByVideoId" resultMap="tab_plan">
        SELECT * FROM plan WHERE video_id = #{video_id}
    </select>

    <select id="listfindByUserId" resultMap="tab_plan">
        SELECT * FROM plan WHERE user_id= #{user_id}
    </select>

    <delete id="deleteById" >
        delete from plan
        where id=#{id}
    </delete>

    <insert id="insertPlan" useGeneratedKeys="true" keyProperty="id">
        insert into plan(video_id, user_id)
        values (#{video_id},#{user_id})
    </insert>

</mapper>