<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ifit.mapper.UserMapper">
    <resultMap id="tab_user" type="com.example.ifit.entity.User">
        <result property="id" column="id"/>
        <result property="telephone" column="telephone"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="picture" column="picture"/>
    </resultMap>

    <select id="findByTel" parameterType="String" resultMap="tab_user">
        SELECT * FROM user WHERE telephone = #{telephone}
    </select>

    <delete id="deleteById" >
        delete from user
        where id=#{id}
    </delete>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user(telephone, name,password,picture)
        values (#{telephone},#{name},#{password},#{picture})
    </insert>

    <update id="updatePasswordById" >
        update user
        set password=#{password}
        where id=#{id}
    </update>

    <update id="updatePictureById" >
        update user
        set picture=#{picture}
        where id=#{id}
    </update>

    <update id="updateNameById" >
        update user
        set name=#{name}
        where id=#{id}
    </update>

</mapper>